[Unit]
Description=Docker Compose Application Service for Smokeping
Requires=docker.service
After=docker.service

[Service]
WorkingDirectory=/etc/docker
ExecStart={{playbook_dir}}/app/vendor/bin/sail -f {{playbook_dir}}/docker-compose.yml up -d --build
ExecStop={{playbook_dir}}/app/vendor/bin/sail -f {{playbook_dir}}/docker-compose.yml down
TimeoutStartSec=0
Restart=on-failure
StartLimitIntervalSec=60
StartLimitBurst=3

[Install]
WantedBy=multi-user.target